*{
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#f8dd74;
    color: white;

}

header{
    color: 	#3b7f74;
    font-size: 30px;
    padding: 50px 0;
    margin: 0;
    padding-bottom: 70px;
}
#scores-head{
    margin-bottom: 0;
    font-size: larger;
    font-weight: 550;
}
.scores{
    border: 5px solid #3b7f74;
    width: 250px;
    color: 	#3b7f74;
    padding: 10px 15px;
    border-radius: 2px;
    margin-top: 0;
    font-size: large;

}

.tag{
    margin:0;
    padding: 2px 4px;
    background: #3b7f74;
    color: white;
    font-weight: 500;
}


.scores > span{
    color: #004735;
}

.result{
    font-size: 30px;
    transition: opacity .4s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;

}

.choices{
    text-align: centre;
    margin: 0;

}
.choice{
    display: inline-block;
    border: 4px solid  #3b7f74;
    transition: all 0.2s ease;
    width: 200px;
    height: auto;
    border-radius: 2px;
    margin-top: 0;

}
.choice > img{
    max-width:100%;
    max-height:100%;
}

@media (max-width: 600px) {
    .choices{
        display: flex;
    }
    .choice{
        width: 33%;
    }  
}

@media(hover: none) and (pointer: coarse){
    .choice:active{
        background: #004735;
    }
}

@media(hover: hover){
    .choice:hover{
        cursor: pointer;
        background: #004735;
    }
}